// Custom mixins here
@mixin calc-grid-width($items-per-row,$item-spacing) {
  $item-base-width:100% / $items-per-row;
  $per-item-spacing:(($items-per-row - 1) * $item-spacing) / $items-per-row;

  width:calc(#{$item-base-width} - #{$per-item-spacing});
}

@mixin color-swatch-variant($key,$color,$baseClass:'.color-swatch') {
  #{$baseClass}--#{$key} {
    #{$baseClass}__swatch {
      background: $color;
    }
  }
}

@mixin body-text-style() {
  line-height:1.8em;
  letter-spacing:.05em;
}

@mixin heading-text-style() {
  letter-spacing: $heading-letter-spacing;
  text-transform: uppercase;
}