.site {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('#{$image-path + 'bg.png'}');
  background-attachment: fixed;
  background-position:left center;
  background-repeat:no-repeat;
  background-size:cover;

  &__navbar {
    margin-bottom:0;
  }

  &__content {
    flex:1 1 auto;
  }

  &__footer {
    background:$black;
    padding:$site-gutter 0;
    margin-top:$site-gutter;
    border-top:$site-border;
    @include body-text-style();
  }
}