// Project-level custom vars.
// To override bootstrap variables use override.scss.
// Bootstrap base vars in _variables.scss in bower_components
$black:#333;

$site-padding:15px;
$site-gutter:$site-padding * 2;
$site-spacing:$site-padding / 2;
$site-border-color:$white;
$site-border:1px solid $site-border-color;
$site-border-fat:3px solid $site-border-color;

$source-sans-pro:'Source Sans Pro', sans-serif;

$image-path:'/bundles/clientwebsite/default/images/';