.template-default {

  &__header-image {
    padding-left:0;
    padding-right:0;
    margin-bottom:$site-gutter;

    img {
      width:100%;
      height:auto;
    }
  }

  &__header {
    margin-bottom:0;
  }

  &__content {
    background:rgba(27, 31, 34, 0.85);
    padding:$site-gutter;
  }
}