.template-default {
  &__image-header, &__text-header {

  }

  &__image-header {
    min-height:35vw;
    background-repeat: no-repeat;
    background-position:center top;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
  }
}