.template-homepage {
  &__intro {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('#{$image-path + 'bg.png'}');
    //background-attachment: fixed;
    background-position:left 25%;
    background-repeat:no-repeat;
    background-size:cover;
  }
}