{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div class="template-default">

        <div class="template-default__header container page-header">
            <h1 property="title">{{ content.title }}</h1>
        </div>

        <div class="template-default__content container">
            {% if content.headerimage|length > 0 and content.headerimage[0].thumbnails['1200x675'] %}

                <div class="template-default__header-image">
                    <img src="{{ content.headerimage[0].thumbnails['1200x675'] }}" />
                </div>

            {% endif %}

            {% autoescape false %}
                <div property="article">{{ content.article }}</div>
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
