{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block meta %}{% include "ClientWebsiteBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Vagrant-Sulu!</h1>
            <p>An experimental <a href="sulu.io">Sulu</a> seed project using <a href="#">Vagrant</a> and <a href="#">Gulp</a></p>
            <p><a class="btn btn-primary" href="/admin" role="button">Admin Access</a></p>
        </div>
    </div>

    <div class="container">
        <p>Suddenly he became alertly tense. Sound, sight, and odor had given him  a simultaneous warning. His hand went back to the old man, touching  him, and the pair stood still. Ahead, at one side of the top of the  embankment, arose a crackling sound, and the boy's gaze was fixed on the  tops of the agitated bushes. Then a large bear, a grizzly, crashed into  view, and likewise stopped abruptly, at sight of the humans. He did not  like them, and growled querulously. Slowly the boy fitted the arrow to  the bow, and slowly he pulled the bowstring taut. But he never removed  his eyes from the bear.</p>

        <p>The old man peered from under his green leaf at the danger, and stood as  quietly as the boy. For a few seconds this mutual scrutinizing went  on; then, the bear betraying a growing irritability, the boy, with a  movement of his head, indicated that the old man must step aside from  the trail and go down the embankment. The boy followed, going backward,  still holding the bow taut and ready. They waited till a crashing among  the bushes from the opposite side of the embankment told them the bear  had gone on. The boy grinned as he led back to the trail.</p>

        <p>"A big un, Granser," he chuckled.</p>

        <p>The old man shook his head.</p>

        <p>"They get thicker every day," he complained in a thin, undependable  falsetto. "Who'd have thought I'd live to see the time when a man would  be afraid of his life on the way to the Cliff House. When I was a boy,  Edwin, men and women and little babies used to come out here from San  Francisco by tens of thousands on a nice day. And there weren't any  bears then. No, sir. They used to pay money to look at them in cages,  they were that rare."</p>
    </div>
{% endblock %}
